<h1><%= link_to 'criar produto', new_product_path %> </h1>


<% @products.each do |product| %>

    <h2><%= product.name %> </h2>
    <h2><%= product.price %> </h2>
    <h2><%= product.quantidade %> </h2>

    <p><%= link_to "ver produto", product %></p>.
    <p><%= link_to "editar um produto", edit_product_path(product) %></p>
    <p><%= link_to 'Delete', "products/#{product.id}", data: { "turbo-method": :delete, 'turbo-confirm': "Tem certeza?" } %></p>

<% end %>